<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Audio Setup">
			<action name="Execute">
				<execute>qjackctl</execute>
			</action>
		</item>
		<item label="Jamulus">
			<action name="Execute">
				<execute>Jamulus</execute>
			</action>
		</item>
		<menu id="onoff-menu" label="An/Aus">
			<item label="Sofort Ausschalten">
				<action name="Execute">
					<execute>sudo shutdown -h -P now</execute>
				</action>
			</item>
			<item label="Sofort Neustarten">
				<action name="Execute">
					<execute>sudo reboot</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="toolsmenu" label="Tools">
			<item label="Terminal">
				<action name="Execute">
					<execute>x-terminal-emulator</execute>
				</action>
			</item>
			<item label="Browser">
				<action name="Execute">
					<execute>x-www-browser</execute>
				</action>
			</item>
			<separator/>
			<menu execute="obamenu" id="applicationsmenu" label="Apps"/>
			<separator/>
			<item label="ObConf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<menu id="/Debian"/>
			<separator/>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<item label="Restart">
				<action name="Restart"/>
			</item>
			<separator/>
			<item label="Exit GUI">
				<action name="Exit"/>
			</item>
		</menu>
		<!-- This requires the presence of the 'openbox-menu' package to work -->
	</menu>
</openbox_menu>
